<div [formGroup]="group" class="grid p-fluid">
    <div class="col-12 md:col-4">
        <app-erp-form-field [label]="'STUDENTS.STUDENT_BASIC_INFO_FORM.LABEL_1' | translate" [required]="true" [control]="group.get('firstName')">
            <app-erp-input formControlName="firstName" maxlength="50" [placeholder]="'STUDENTS.STUDENT_BASIC_INFO_FORM.PLACEHOLDER_2' | translate"></app-erp-input>
        </app-erp-form-field>
    </div>
    <div class="col-12 md:col-4">
        <app-erp-form-field [label]="'STUDENTS.STUDENT_BASIC_INFO_FORM.LABEL_3' | translate" [control]="group.get('middleName')">
            <app-erp-input formControlName="middleName" maxlength="50" [placeholder]="'STUDENTS.STUDENT_BASIC_INFO_FORM.PLACEHOLDER_4' | translate"></app-erp-input>
        </app-erp-form-field>
    </div>
    <div class="col-12 md:col-4">
        <app-erp-form-field [label]="'STUDENTS.STUDENT_BASIC_INFO_FORM.LABEL_5' | translate" [required]="true" [control]="group.get('lastName')">
            <app-erp-input formControlName="lastName" maxlength="50" [placeholder]="'STUDENTS.STUDENT_BASIC_INFO_FORM.PLACEHOLDER_6' | translate"></app-erp-input>
        </app-erp-form-field>
    </div>

    <div class="col-12 md:col-4">
        <app-erp-form-field [label]="'STUDENTS.STUDENT_BASIC_INFO_FORM.LABEL_7' | translate" [required]="true" [control]="group.get('gender')">
            <app-erp-select formControlName="gender" [options]="genderOptions" [placeholder]="'STUDENTS.STUDENT_BASIC_INFO_FORM.PLACEHOLDER_8' | translate"></app-erp-select>
        </app-erp-form-field>
    </div>
    <div class="col-12 md:col-4">
        <app-erp-form-field [label]="'STUDENTS.STUDENT_BASIC_INFO_FORM.LABEL_9' | translate" [required]="true" [control]="group.get('dateOfBirth')">
            <app-erp-datepicker formControlName="dateOfBirth" [placeholder]="'STUDENTS.STUDENT_BASIC_INFO_FORM.PLACEHOLDER_10' | translate"></app-erp-datepicker>
        </app-erp-form-field>
    </div>
    <div class="col-12 md:col-4">
        <app-erp-form-field [label]="'STUDENTS.STUDENT_BASIC_INFO_FORM.LABEL_11' | translate" [control]="group.get('bloodGroup')">
            <app-erp-select formControlName="bloodGroup" [options]="bloodGroupOptions" [placeholder]="'STUDENTS.STUDENT_BASIC_INFO_FORM.PLACEHOLDER_12' | translate"></app-erp-select>
        </app-erp-form-field>
    </div>
</div>
