
.max-w-box { max-width: 800px; background-color: #fff; border: 1px solid #ddd; color: #000; font-family: 'Inter', sans-serif; }
.custom-style-2 { width: 100px; height: 120px; font-size: 8px; text-align: center; background-color: #fafafa; font-weight: bold; border-style: dashed; }
.custom-style-3 { width: 18px; height: 18px; display: inline-block; line-height: 18px; }
.custom-style-4 { width: 180px; }
.custom-style-5 { width: 200px; }
.custom-style-6 { background-color: #fafafa; border-style: dashed; }
