@import 'colors';
@import 'variables';
@import 'typography';
@import 'spacing';
@import 'responsive';
@import 'primeng-overrides';

.erp-app {
  background-color: $erp-bg-body;
  font-family: $erp-font-family;
  min-height: 100vh;
  color: $erp-text-main;
}
