:host {
  display: block;
}

input[type="date"],
::ng-deep .p-select {
  height: 40px !important;
  box-sizing: border-box;
}

.custom-style-1 { min-width: 2rem; }
.custom-style-2 { min-width: 2rem; }
.custom-style-3 { height: 8px; }
.avatar-box { width:2.5rem; height:2.5rem; }
